body {
    /* CSS HSL */
    --eerie-black: hsla(0, 0%, 15%, 1);
    --platinum: rgb(217, 219, 221);
    --white: hsla(0, 0%, 100%, 1);
    --pink: rgb(233, 107, 130);
    --red-ryb: hsla(360, 100%, 55%, 1);
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: bolder;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--eerie-black);
    color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
}

#form-container {
    margin: auto;
    width: 50%;
    clear: both;
    margin-top: 60px;
    padding: 40px 70px;
    border: 3px solid var(--pink);
    border-radius: 10px;
    background-color: var(--platinum);
}

#create-post {
    display: flex;
    flex-direction: column;
}

#description {
    padding: 5px 5px 110px 5px;
    resize: none;
}