a {
    text-decoration: none;
}

#post-container {
    /* height: 500px; */
    width: 80%;
    background-color: bisque;
    display: flex;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    margin-right: 20%;
}

.nav {
    background-color: red;
    color: white;
    margin: 0px 20px;
    padding: 5px;
    border-radius: 10px;
}